In [1]:
#Import necessary libraries 
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
import time

#normally, the '.' in regex represents ALL characters except \n, but re.DOTALL includes \n as well
re.DOTALL

re.DOTALL

## Experiment - Comparing Regex and Beautiful Soup for iMDB Scraping

In [22]:
def extract_imdb_data(type):
    startTime = time.time()
    
    rankings = []
    titles = []
    years = []
    ratings = []
    
    if type == "movies":
        html = requests.get('https://www.imdb.com/chart/moviemeter/?ref_=nv_mv_mpm').text
    elif type == "tv":
        html = requests.get('https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv').text
    else:
        raise ValueError("Must be movies or tv")
    soup = BeautifulSoup(html, 'lxml')
    movie_boxes = soup.find_all('tr')
    movie_boxes = movie_boxes[1:]

    for movie_box in movie_boxes:
        movie = movie_box.find("td", "titleColumn")

        title = movie.find("a").text
        titles.append(title)

        year = movie.find("span", "secondaryInfo").text[1:-1]
        years.append(year)

        rating = movie_box.find("td", "ratingColumn").text.strip()
        if rating == "":
            rating = 0
        ratings.append(float(rating))
    
    dict = {'Title': titles, 'Year': years, 'Rating': ratings} 
    df = pd.DataFrame(dict)
    
#     df = df.drop(df[df.Rating == 0].index)
    df.index = np.arange(1, len(df)+1)
    
    endTime = (time.time() - startTime)
    
    print("Code Executed in", endTime, "seconds")
    return df

In [23]:
tvs = extract_imdb_data("tv")
movies = extract_imdb_data("movies")

Code Executed in 1.4714617729187012 seconds
Code Executed in 1.5248539447784424 seconds

In [24]:
tvs

                         Title  Year  Rating
1            The Wheel of Time  2021     7.4
2    Arcane: League of Legends  2021     9.4
3                  Yellowstone  2018     8.7
4                   Succession  2018     8.7
5            Dexter: New Blood  2021     9.0
..                         ...   ...     ...
96                        Loki  2021     8.3
97                      Narcos  2015     8.8
98                      Ghosts  2021     7.3
99                       Suits  2011     8.4
100                      Ozark  2017     8.4

[100 rows x 3 columns]

In [25]:
movies

                                                 Title  Year  Rating
1                                           Red Notice  2021     6.4
2                              Spider-Man: No Way Home  2021     0.0
3            Shang-Chi and the Legend of the Ten Rings  2021     7.6
4                                             Eternals  2021     6.8
5                                       Dune: Part One  2021     8.2
..                                                 ...   ...     ...
96                                       After We Fell  2021     4.8
97                                        Sooryavanshi  2021     6.5
98   The Lord of the Rings: The Fellowship of the Ring  2001     8.8
99                            The Amazing Spider-Man 2  2014     6.5
100                                     Zeros and Ones  2021     3.4

[100 rows x 3 columns]

In [7]:
# rating_pattern = re.compile(r'(?<=>Eternals)((.|\n)*)(?=class="secondaryInfo">)')

# ratings_list = []

# ratings = rating_pattern.finditer(html)
# for rating in ratings:
#     print(rating)
#     rating_item = rating.group(0)
#     ratings_list.append(rating_item)
    
# print(len(ratings_list))

In [30]:
def extract_imdb_data(type):
    
    startTime = time.time()
    
    if type == "movies":
        html = requests.get('https://www.imdb.com/chart/moviemeter/?ref_=nv_mv_mpm').text
    elif type == "tv":
        html = requests.get('https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv').text
    else:
        raise ValueError("Must be movies or tv")

    html = requests.get('https://www.imdb.com/chart/moviemeter/?ref_=nv_mv_mpm').text
    
    # REGEX pattern for matching movie titles
    title_pattern = re.compile(r'(?<= >)(.*)(?=</a>\n        <span class="secondaryInfo">)')

    titles_list = []

    titles = title_pattern.finditer(html)
    for title in titles:
    #     print(title)
        title_item = title.group(0)
        titles_list.append(title_item)

    # print(titles_list)
    
    # REGEX pattern for matching movie ratings
    rating_pattern = re.compile(r'(?<=user ratings">)(.*)(?=</strong>)')

    ratings_list = []

    ratings = rating_pattern.finditer(html)
    for rating in ratings:
    #     print(rating)
        rating_item = rating.group(0)
        ratings_list.append(rating_item)

    # print(ratings_list)
    
    # REGEX pattern for matching movie release years
    year_pattern = re.compile(r'(?<=<span class="secondaryInfo">)(.*)(?=</span>)')

    years_list = []

    years = year_pattern.finditer(html)
    for year in years:
        year_item = year.group(0)[1:-1]
        years_list.append(year_item)

    # print(years_list)

    dict = {'Title': titles_list, 'Year': years_list} 
    df = pd.DataFrame(dict)

    #df = df.drop(df[df.Rating == 0].index)
    df.index = np.arange(1, len(df)+1)

    endTime = (time.time() - startTime)    
    print("Code Executed in", endTime, "seconds")
    
    return(df)

In [31]:
tvs = extract_imdb_data("tv")
movies = extract_imdb_data("movies")

Code Executed in 2.86495041847229 seconds
Code Executed in 2.9315426349639893 seconds

In [32]:
tvs

                                                 Title  Year
1                                           Red Notice  2021
2                              Spider-Man: No Way Home  2021
3            Shang-Chi and the Legend of the Ten Rings  2021
4                                             Eternals  2021
5                                       Dune: Part One  2021
..                                                 ...   ...
96                                       After We Fell  2021
97                                        Sooryavanshi  2021
98   The Lord of the Rings: The Fellowship of the Ring  2001
99                            The Amazing Spider-Man 2  2014
100                                     Zeros and Ones  2021

[100 rows x 2 columns]

tvs